/* 
    Yong Jie's Hideout
    Filename: styles.css
    
    Author: p1625723 
    Date: 27 Nov 2016
    HTML5 and CSS3 CA1
*/


/* reset styles */

html,
body,
div,
#wrapper,
#header,
a,
h1,
ul,
li,
#link1,
#active,
#link2,
#link3,
#link4,
#link5,
#icon1,
#icon2,
figure,
img,
#FBicon,
#instaicon,
.container1,
#slider,
#slide1,
figcaption,
h2,
p,
#slide2,
#slide3,
#MainIntroduction,
#Introduction,
#introbackground,
#introphoto,
#favouritequote,
#generalinfo,
#footer1,
.container2,
#aboutme,
section,
aside,
article,
footer,
#centralphoto,
#mydreams,
#mydreamsbox,
#mydreamscaption,
.popup1,
.close1,
.content1,
#strengths,
#strengthsbox,
#strengthscaption,
.popup2,
.close2,
.content2,
#likesdislikes,
#likesdislikesbox,
#likesdislikescaption,
.popup3,
.close3,
.content3,
#skills,
#skillsbox,
#skillscaption,
.popup4,
.close4,
.content4,
#footer2,
.container3,
input,
label,
span,
#education,
#timeline,
.work,
.radio,
.relative,
.circle,
.content,
.date,
.figure1,
.figure2,
.figure3,
#footer3,
.container4,
#footer4,
.container5,
#footer5 {
    margin: 0;
    border: 0;
    padding: 0;
}


/* html, body */

html {
    font-size: 12px;
}

html,
body {
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    font-family: Roboto, Ubuntu, Calibri, sans-serif;
}


/* img */

img {
    max-width: 100%;
    width: auto;
    height: auto;
}


/* Navigation Bar for all html pages */

#wrapper {
    width: 100%;
    background-color: #2C3E50;
    padding: 15.8px 0;
    position: fixed;
    z-index: 2;
}

#header {
    overflow: hidden;
}

#header h1 {
    float: left;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 5px;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
}

#header h1:hover {
    color: #18BC9C !important;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
}

#header ul {
    padding: 0;
    float: right;
    text-align: center;
    margin-right: 30px;
}

#link1,
#link2,
#link3,
#link4,
#link5 {
    display: inline-block;
    margin-top: 1em;
    margin-left: 0.9em;
    margin-right: 0.9em;
    font-size: 15px;
    text-transform: uppercase;
    float: left;
}

#icon1,
#icon2 {
    display: inline-block;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

#header a {
    text-decoration: none;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

#active {
    background-color: #18Bc9C;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#link1 a:hover:not(#active),
#link2 a:hover:not(#active),
#link3 a:hover:not(#active),
#link4 a:hover:not(#active),
#link5 a:hover:not(#active) {
    background-color: #18BC9C !important;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

/* Facebook and Instagram Icons for the navigation bar all html pages */

#FBicon,
#instaicon {
    height: 45px;
    width: 45px;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}

#FBicon:hover,
#instaicon:hover {
    -webkit-transform: scale(1.25);
    /* Safari and Chrome */
    -moz-transform: scale(1.25);
    /* Firefox */
    -ms-transform: scale(1.25);
    /* IE 9 */
    -o-transform: scale(1.25);
    /* Opera */
    transform: scale(1.25);
}


/* container for index.html */

.container1 {
    background-color: #FFFFFF;
    position: absolute;
    top: 6.5em;
}


/* slide show for index.html */

#slider {
    max-width: 100%;
    height: 600px;
    position: relative;
}

#slide1,
#slide2,
#slide3 {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* slide show images for index.html */

#slide1 figure img,
#slide2 figure img,
#slide3 figure img {
    float: left;
    width: 65%;
    height: 600px;
}

/* slide show image captions for index.html */

#slide1 figure figcaption,
#slide2 figure figcaption,
#slide3 figure figcaption {
    background-color: #18BC9C;
    float: right;
    width: 35%;
    height: 600px;
}

#slide1 figure figcaption h2,
#slide2 figure figcaption h2,
#slide3 figure figcaption h2 {
    color: white;
    text-align: center;
    font-size: 20em;
    font-weight: 300;
    margin-top: 10px;
}

#slide1 figure figcaption p,
#slide2 figure figcaption p,
#slide3 figure figcaption p {
    color: white;
    text-align: center;
    font-size: 3em;
    margin-top: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

/* slide show animations for index.html */

#slide1 {
    background-size: cover;
    animation: fade 20s infinite;
    -webkit-animation: fade 20s infinite;
}

#slide2 {
    background-size: cover;
    animation: fade2 20s infinite;
    -webkit-animation: fade2 20s infinite;
}

#slide3 {
    background-size: cover;
    animation: fade3 20s infinite;
    -webkit-animation: fade3 20s infinite;
}

@keyframes fade {
    0% {
        opacity: 1
    }
    33.333% {
        opacity: 0
    }
    66.666% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fade2 {
    0% {
        opacity: 0
    }
    33.333% {
        opacity: 1
    }
    66.666% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@keyframes fade3 {
    0% {
        opacity: 0
    }
    33.333% {
        opacity: 0
    }
    66.666% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}


/* Main Introduction Section for index.html */

#MainIntroduction {
    background-color: #18BC9C;
    padding: 25px 0;
}

#MainIntroduction h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-transform: uppercase;
}


/* article - Introduction (index.html) */

#Introduction {
    float: right;
    width: 66%;
    background-color: #FFFFFF;
    padding-bottom: 8px;
    box-shadow: 0px 2px 5px grey;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Introduction h2 {
    font-size: 30px;
    color: #212121;
    margin-top: 3.7em;
    font-weight: 300;
    text-align: center;
}

#Introduction p {
    font-size: 20px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #757575;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: justify;
}

/* article - Introduction background (index.html) */

#introbackground {
    width: 100%;
    height: 220px;
}

/* article - Introduction photo (index.html) */

#introphoto {
    border-radius: 50%;
    border: 4px solid white;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 61em;
    bottom: 27.5em;
    z-index: 1;
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    -moz-transition: all 1s ease;
    /* Firefox */
    -ms-transition: all 1s ease;
    /* IE 9 */
    -o-transition: all 1s ease;
    /* Opera */
    transition: all 1s ease;
}

#introphoto:hover {
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -moz-transform: scale(2);
    /* Firefox */
    -ms-transform: scale(2);
    /* IE 9 */
    -o-transform: scale(2);
    /* Opera */
    transform: scale(2);
}


/* aside - favouritequote and generalinfo (index.html) */

#favouritequote,
#generalinfo {
    background-color: #FFFFFF;
    float: left;
    width: 31%;
    padding-bottom: 10px;
    box-shadow: 0px 2px 5px grey;
}

#favouritequote {
    margin-left: 10px;
    margin-top: 10px;
}

#generalinfo {
    margin-left: 10px;
    margin-top: 10.5px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

#favouritequote h2,
#generalinfo h2 {
    font-size: 30px;
    color: #212121;
    text-align: left;
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-weight: 300;
}

#favouritequote p,
#generalinfo p {
    font-size: 20px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #757575;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

#favouritequote p {
    text-align: center;
    margin-top: 1.5em;
}

#generalinfo p {
    margin-top: 1.8em;
}


/* footer for index.html */

#footer1 {
    margin-top: 48.5em;
    width: 100%;
    padding: 15.8px 0;
    background-color: #233140;
}

#footer1 h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}


/* container for aboutme.html */

.container2 {
    background-color: #FFFFFF;
    position: absolute;
    top: 6.5em;
    width: 100%;
}


/* About Me Section for aboutme.html */

#aboutme {
    background-color: #18BC9C;
    padding: 25px 0;
}

#aboutme h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-transform: uppercase;
}


/* article - centralphoto, mydreams, strengths, skills (aboutme.html) */

#centralphoto,
#mydreams,
#strengths,
#likesdislikes,
#skills {
    box-shadow: 0px 2px 5px grey;
}

/* article - Central Photo of me (aboutme.html) */

#centralphoto {
    background-color: #FFFFFF;
    position: absolute;
    left: 39%;
    top: 130%;
    z-index: 1;
}

#centralphoto img {
    height: 300px;
    width: 300px;
}

#centralphoto p {
    text-align: center;
    font-weight: 300;
    margin-bottom: 0.5em;
    font-size: 20px;
}

/* article - mydreams, strengths, likesdislikes, skills icons (aboutme.html) */

#mydreams figure img,
#strengths figure img,
#likesdislikes figure img,
#skills figure img {
    height: 300px;
    width: 300px;
    padding-top: 3em;
    padding-left: 8em;
    padding-bottom: 3em;
    padding-right: 8em;
}

#mydreams {
    background-color: #FFC107;
    position: absolute;
    left: 10%;
    top: 550%;
}

#strengths {
    background-color: #CDDC39;
    position: absolute;
    top: 550%;
    left: 53%;
}

#likesdislikes {
    background-color: #03A9F4;
    position: absolute;
    left: 10%;
    top: 1020%;
}

#skills {
    background-color: #FF5722;
    margin-bottom: 1.5em;
    position: absolute;
    left: 53%;
    top: 1020%
}

/* article - mydreams, strengths, likesdislikes, skills icon captions (appear on hover) (aboutme.html) */

#mydreamscaption,
#strengthscaption,
#likesdislikescaption,
#skillscaption {
    width: 492px;
    background-color: #18BC9C;
    z-index: 1;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    padding-top: 155px;
    padding-bottom: 155px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

#mydreamscaption:hover,
#strengthscaption:hover,
#likesdislikescaption:hover,
#skillscaption:hover {
    opacity: 1;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    cursor: pointer;
}

#mydreamscaption {
    position: absolute;
    left: 10%;
    top: 550%;
}

#strengthscaption {
    position: absolute;
    left: 53%;
    top: 550%;
}

#likesdislikescaption {
    position: absolute;
    left: 10%;
    top: 1020%;
}

#skillscaption {
    position: absolute;
    left: 53%;
    top: 1020%;
}

/* article - popup boxes for mydreams, strengths, likesdislikes, skills icon (appear when clicked on the icons) (aboutme.html) */

.popup1,
.popup2,
.popup3,
.popup4 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    padding: 20px;
    background: #fff;
    transition: all .5s ease-in-out;
    width: 100%;
    height: 100%;
}

.popup1:target,
.popup2:target,
.popup3:target,
.popup4:target {
    visibility: visible;
    opacity: 1;
}

.popup1 h2,
.popup2 h2,
.popup3 h2,
.popup4 h2 {
    margin-top: 0px;
    color: #333;
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

/* article - popup boxes close icon (will therfore close the popup boxes when clicked on the cclose icon) (aboutme.html) */

.popup1 .close1,
.popup2 .close2,
.popup3 .close3,
.popup4 .close4 {
    position: absolute;
    top: 10px;
    right: 70px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: 300;
    text-decoration: none;
    color: #333;
}

.popup1 .close1:hover,
.popup2 .close2:hover,
.popup3 .close3:hover,
.popup4 .close4:hover {
    color: #18BC9C;
}


/* article - popup boxes contents (including images) (aboutme.html) */

.popup1 .content1,
.popup2 .content2,
.popup3 .content3,
.popup4 .content4 {
    overflow: auto;
}

.popup1 .content1 figure,
.popup2 .content2 figure,
.popup3 .content3 figure,
.popup4 .content4 figure {
    height: 310px;
    width: 310px;
    position: absolute;
    left: 31%;
    top: 14%;
}

.popup1 .content1 figure img,
.popup2 .content2 figure img,
.popup3 .content3 figure img,
.popup4 .content4 figure img {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.popup1 .content1 figure img {
    background-color: #FFC107;
}

.popup2 .content2 figure img {
    background-color: #CDDC39;
}

.popup3 .content3 figure img {
    background-color: #03A9F4;
}

.popup4 .content4 figure img {
    background-color: #FF5722;
}

.popup1 .content1 p,
.popup2 .content2 p,
.popup3 .content3 p,
.popup4 .content4 p {
    font-size: 18px;
    color: #757575;
    font-weight: 300;
    text-align: justify;
}

.popup1 .content1 p {
    position: absolute;
    top: 76.5%;
    right: 5%;
    left: 2%;
}

.popup2 .content2 p {
    position: absolute;
    top: 74.5%;
    right: 5%;
    left: 2%;
}

.popup3 .content3 p {
    position: absolute;
    top: 74.5%;
    right: 5%;
    left: 2%;
}

.popup4 .content4 p {
    position: absolute;
    top: 74.5%;
    right: 5%;
    left: 2%;
}


/* footer for aboutme.html */

#footer2 {
    position: absolute;
    top: 110em;
    width: 100%;
    padding: 15.8px 0;
    background-color: #233140;
}

#footer2 h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}


/* container for education.html */

.container3 {
    background-color: #2C3E50;
    position: absolute;
    top: 6.5em;
    width: 100%;
    color: white;
}

/* Education Section for education.html */

#education {
    background-color: #18BC9C;
    padding: 25px 0;
}

#education h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-transform: uppercase;
}

/* article - timeline (education.html) */

#timeline {
    list-style: none;
    margin: 50px 0 50px 200px;
    padding-left: 30px;
    border-left: 8px solid white;
}

#timeline li {
    margin: 40px 0;
    position: relative;
}

#timeline p {
    margin: 0 0 15px;
}

/* article - timeline date (education.html) */

.date {
    margin-top: -10px;
    top: 50%;
    left: -120px;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
}

/* article - timeline circular icons (education.html) */

.circle {
    margin-top: -10px;
    top: 50%;
    left: -44.5px;
    width: 15px;
    height: 15px;
    background: #2C3E50;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
    position: absolute;
}

/* article - timeline contents including images and caption (education.html) */

.content {
    max-height: 20px;
    padding: 50px 20px 0;
    border-color: transparent;
    border-width: 2px;
    border-style: solid;
    position: relative;
}

.content:before,
.content:after {
    content: "";
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    right: 100%;
}

.content:before {
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}

.content:after {
    border-right-color: #18Bc9C;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}

.content p {
    max-height: 0;
    color: transparent;
    text-align: justify;
    hyphens: auto;
    overflow: hidden;
    font-size: 20px;
}

.content .figure1,
.content .figure2,
.content .figure3 {
    height: 0;
    width: 0;
}

.content .figure1 figcaption,
.content .figure2 figcaption,
.content .figure3 figcaption {
    max-height: 0;
    color: transparent;
    text-align: justify;
    hyphens: auto;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
}

/* article - timeline label headers (education.html) */

label {
    font-size: 30px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    top: 15px;
    left: 10px;
    transition: transform 0.2s linear;
}

/* article - timeline content popup transition and transformation (opens the content when pressed on the label headers) (education.html) */

.radio {
    display: none;
}

.radio:checked + .relative label {
    cursor: auto;
    transform: translateX(32px);
}

.radio:checked + .relative .circle {
    background: #18Bc9C;
}

.radio:checked ~ .content {
    max-height: 1100px;
    margin-right: 10em;
    background-color: #18Bc9C;
    transform: translateX(20px);
    transition: max-height 0.4s linear, transform 0.2s linear;
}

.radio:checked ~ .content p,
.radio:checked ~ .content .figure1 figcaption,
.radio:checked ~ .content .figure2 figcaption,
.radio:checked ~ .content .figure3 figcaption {
    max-height: 280px;
    color: white;
    transition: color 0.3s linear 0.3s;
}

.radio:checked ~ .content .figure1,
.radio:checked ~ .content .figure2,
.radio:checked ~ .content .figure3 {
    width: 100%;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
}

.radio:checked ~ .content .figure1,
.radio:checked ~ .content .figure2 {
    height: 700px;
}

.radio:checked ~ .content .figure3 {
    height: 565px;
}

/* footer for education.html */

#footer3 {
    margin-top: 9em;
    width: 100%;
    padding: 15.8px 0;
    background-color: #233140;
}

#footer3 h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

/* containers for importantevents.html and portfolio.html */

.container4,
.container5 {
    background-color: #18Bc9C;
    position: absolute;
    top: 6.5em;
    width: 100%;
    height: 50em;
}

.container4 p,
.container5 p {
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    color: white;
    margin-top: 5em;
    text-transform: uppercase;
}

/* footers for importantevents.html and portfolio.html */

#footer4,
#footer5 {
    margin-top: 23em;
    width: 100%;
    padding: 15.8px 0;
    background-color: #233140;
}

#footer4 h2,
#footer5 h2 {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    color: #FFFFFF;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}